#top{
  border:5px solid blue;
  /*margin:top right bottom left*/
  margin:10px 20px 400px 100px;
  width:25%;
  text-align: center;
  font-family: 'Anton', sans-serif;
  color:red;
  background-color:gray;
}
#bottom{
  border:4px solid red;
  width: 50%
  text-align:center;
  padding:20px;
  margin:100px 20px 400px 50px;
  color:yellow;
  background-color: pink;
  text-decoration-style: wavy;
}
